#navbar {
    
    background-color: antiquewhite;
    position: relative;
    overflow: visible;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    height: 30px;
    font-size: 20px;
}

#navbar_center {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#navbar_right {
    float: right;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

#searchbar {
    border: solid 2px burlywood;
    background-color: antiquewhite;
    padding-bottom: 2px;
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

#navbar a {
    float: left;
    
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    border: solid burlywood 2px;
}

#navbar a:hover {
    background-color: rgb(197, 165, 123);
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {

    text-decoration: none;
    color: black;
}
#sidebar {
    text-align: center;
    background-color: antiquewhite;
    border: solid saddlebrown 3px;
    min-width: 150px;
    max-width: 275px;
    min-height: 1080px;
    max-height: 1080px;
    overflow: hidden;
}

#selection {
    font-size: 20px;
}


/*stupid drop down stuff*/
.container {
    display: inline;
    overflow: scroll;
}

#drop_content li {
    list-style: none;
}

#drop_button {
    position: relative;
}

#drop_content {
    position:absolute;
    display: none;
    top: 100%;

}

#drop_content a {
    float:none;
    display: block;
    background-color: wheat;
}

:hover > #drop_content {
    display: block;
    background-color: inherit;


}
.parent_dropdown {
    display: inline;
}

#sidebar a {
    display: block;
}

#sidebar p {
    word-wrap: break-word;
}
body {
    background-color: black ;
    border: burlywood solid 2px;
    min-height: 1080px;
    
}

/*screen bigger than 1200px will not display menu burger*/
@media screen and (min-width: 1200px) {
    #navbar .icon {
        display: none;

    }
}

/*screen size smaller than 1200px will
display the burger and remove center*/
@media screen and (max-width: 1200px) {
    #navbar a {display: none;} 
    #navbar_right {
        float: left;
    }
    #navbar a.icon {
        float: left;
        display: block;
    }



@media screen and (max-width: 900px) {
    
    #navbar_center {
        display: none;
    }
    #navbar_right {
        float: left;
    }

    body {
        min-width: 850px;
    }
}




